In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import sqlite3
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

In [2]:
years =list(range(2001 ,2022))
url_data ="https://admin.euroleague.net/main/statistics?mode=Leaders&entity=Players&seasonmode=Single&seasoncode=E{}&cat=Score&agg=Accumulated"

In [3]:
def receive_htmls_data_from_web():
    for year in years :
        url = url_data.format(year)
        data = requests.get(url)
        with open("admin_euroleague/{}.html".format(year), "w+" , encoding="utf-8") as file :
         file.write(data.text)

In [4]:
def search_true_htmls():
 with open ("admin_euroleague/2001.html",encoding="utf-8") as f :
    page =f.read()
    soup = BeautifulSoup(page, "html.parser")
    soup.find('tr',class_="stats-results")
    return soup

In [5]:
def make_data_visible(soup):
     statistics_table=soup.find(id="ctl00_ctl00_ctl00_ctl00_maincontainer_maincontent_contentpane_ctl01_stats_results")
     leaders_2001= pd.read_html(str(statistics_table))[0]
     return(leaders_2001)

In [6]:
def leaders_2001():
    pass

In [7]:
print(leaders_2001)

<function leaders_2001 at 0x0000021E11938C10>

In [10]:

engine = create_engine('sqlite:///scorers_01')
Session = sessionmaker(bind=engine)
session = Session()

In [11]:
leaders_2001.to_sql(
    name = "scorers_01" ,
    con = engine , 
    index = False ,
    if_exists = "append"
)

AttributeError: 'function' object has no attribute 'to_sql'

In [10]:

#engine = create_engine('sqlite:///2003_leaders.db')
#Session = sessionmaker(bind=engine)
#session = Session()

In [11]:
#leaders_2001.to_sql(
   # name = "2003_leaders" ,
   # con = engine , 
    #index = False ,
    #if_exists = "append"
#)

In [37]:
dfs = []
for year in years :
    with open ("admin_euroleague/{}.html".format(year),encoding="utf-8") as f :
        page =f.read()
        soup = BeautifulSoup(page, "html.parser")
        soup.find('tr',class_="StatsHeaderGridResults")
        statistics_table=soup.find(id="ctl00_ctl00_ctl00_ctl00_maincontainer_maincontent_contentpane_ctl01_ctl01_gvResults")
        leaders_2001= pd.read_html(str(statistics_table))[0]
        leaders_2001["Year"] = year
        dfs.append(leaders_2001)

In [38]:
leaders = pd.concat(dfs)
leaders

,Rank,Player,Team,GamesG,PointsPTS,Ave.,Per 40 min.40m,Year
0,1,"FORD, ALPHONSOFORD, A.",OLYOlympiacosOlympiacos,20,495,24.75,28.09,2001
1,2,"BODIROGA, DEJANBODIROGA, D.",PAOPanathinaikos AthensPanathinaikos Athens,22,441,20.05,24.83,2001
2,3,"GIRICEK, GORDANGIRICEK, G.",CSKCSKA MoscowCSKA Moscow,18,413,22.94,26.76,2001
3,4,"FUCKA, GREGORFUCKA, G.",FORSkipper BolognaSkipper Bologna,20,381,19.05,23.88,2001
4,5,"AVLEEV, RUSLANAVLEEV, R.",PEMUral GreatUral Great,20,372,18.60,24.90,2001
...,...,...,...,...,...,...,...,...
45,46,"DOBRIC, OGNJENDOBRIC, O.",CZVCrvena Zvezda mts BelgradeCrvena Zvezda mts...,29,299,10.31,18.25,2021
46,47,"CLYBURN, WILLCLYBURN, W.",CSKCSKA MoscowCSKA Moscow,20,298,14.90,21.14,2021
47,47,"PAPAGIANNIS, GEORGIOSPAPAGIANNIS, G.",PAOPanathinaikos OPAP AthensPanathinaikos OPAP...,29,298,10.28,14.47,2021
48,49,"KURIC, KYLEKURIC, K.",BARFC BarcelonaFC Barcelona,37,292,7.89,15.68,2021
49,49,"HALL, DONTAHALL, D.",ASMAS MonacoAS Monaco,35,292,8.34,18.06,2021