In [32]:
import pandas as pd
import ssl

In [42]:
ssl._create_default_https_context = ssl._create_unverified_context
scraper = pd.read_html("https://admin.euroleague.net/main/standings")
scraper

[                 Group Regular Season   W   L  PTS+  PTS-  +/-
 0                     1. FC Barcelona  21   7  2275  2101  174
 1               2. Olympiacos Piraeus  19   9  2222  2045  177
 2         3. AX Armani Exchange Milan  19   9  2069  1992   77
 3                      4. Real Madrid  18  10  2181  2079  102
 4        5. Maccabi Playtika Tel Aviv  17  11  2272  2209   63
 5            6. Anadolu Efes Istanbul  16  12  2322  2221  101
 6                        7. AS Monaco  15  13  2311  2225   86
 7                 8. FC Bayern Munich  14  14  2123  2105   18
 8   9. Bitci Baskonia Vitoria-Gasteiz  12  16  2116  2186  -70
 9                     10. ALBA Berlin  12  16  2121  2239 -118
 10     11. Crvena Zvezda mts Belgrade  12  16  2041  2089  -48
 11       12. Fenerbahce Beko Istanbul  10  18  2051  2099  -48
 12      13. Panathinaikos OPAP Athens   9  19  2089  2235 -146
 13        14. LDLC ASVEL Villeurbanne   8  20  2036  2239 -203
 14                15. Zalgiris Kaunas   8  20  2084  2249 -165,
                                                    0
 0  *The current standings may show teams with mor...]

In [55]:
scraper[0]

                 Group Regular Season   W   L  PTS+  PTS-  +/-
0                     1. FC Barcelona  21   7  2275  2101  174
1               2. Olympiacos Piraeus  19   9  2222  2045  177
2         3. AX Armani Exchange Milan  19   9  2069  1992   77
3                      4. Real Madrid  18  10  2181  2079  102
4        5. Maccabi Playtika Tel Aviv  17  11  2272  2209   63
5            6. Anadolu Efes Istanbul  16  12  2322  2221  101
6                        7. AS Monaco  15  13  2311  2225   86
7                 8. FC Bayern Munich  14  14  2123  2105   18
8   9. Bitci Baskonia Vitoria-Gasteiz  12  16  2116  2186  -70
9                     10. ALBA Berlin  12  16  2121  2239 -118
10     11. Crvena Zvezda mts Belgrade  12  16  2041  2089  -48
11       12. Fenerbahce Beko Istanbul  10  18  2051  2099  -48
12      13. Panathinaikos OPAP Athens   9  19  2089  2235 -146
13        14. LDLC ASVEL Villeurbanne   8  20  2036  2239 -203
14                15. Zalgiris Kaunas   8  20  2084  2249 -165

In [67]:
df = pd.DataFrame([scraper],dtype=object)

In [68]:
df

,0,1
0,Group Regular Season W L ...,...