In [18]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import sqlite3
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time

In [19]:
url_data = "https://admin.euroleague.net/main/statistics?mode=Leaders&entity=Players&seasonmode=Single&seasoncode=E{}&cat=BlocksFavour&agg=PerGame"
years = list(range(2001, 2022))

In [20]:

for year in years:
    with open("blocks_leaders_htmls/{}.html".format(year), "w+" , encoding="utf-8") as file :
        url = url_data.format(year)
        data = requests.get(url)
        file.write(data.text)

In [21]:
dfs = []
for year in years :
    with open ("steals_leaders_htmls/{}.html".format(year),encoding="utf-8") as f :
        page =f.read()
        soup = BeautifulSoup(page, "html.parser")
        soup.find('tr',class_="StatsHeaderGridResults")
        statistics_table=soup.find(id="ctl00_ctl00_ctl00_ctl00_maincontainer_maincontent_contentpane_ctl01_ctl01_gvResults")
        blocks_data= pd.read_html(str(statistics_table))[0]
        blocks_data["Year"] = year
        dfs.append(blocks_data)

In [22]:
blocks_data = pd.concat(dfs)
blocks_data

,Rank,Player,Team,GamesG,StealsST,Ave.,Per 40 min.40m,Year
0,1,"GINOBILI, EMANUELGINOBILI, E.",VIRKinder Virtus BolognaKinder Virtus Bologna,22,58,2.64,3.70,2001
1,2,"HUGGINS, ROGERHUGGINS, R.",CHASpirou BasketSpirou Basket,14,32,2.29,3.07,2001
2,3,"JARIC, MARKOJARIC, M.",VIRKinder Virtus BolognaKinder Virtus Bologna,21,47,2.24,3.17,2001
3,4,"PHELPS, DERRICKPHELPS, D.",BERAlba BerlinAlba Berlin,13,29,2.23,2.75,2001
4,5,"BIGGS, RALPHBIGGS, R.",OOSTelindus OostendeTelindus Oostende,14,30,2.14,2.33,2001
...,...,...,...,...,...,...,...,...
25,25,"GIEDRAITIS, ROKASGIEDRAITIS, R.",BKNBitci Baskonia Vitoria-GasteizBitci Baskoni...,29,29,1.00,1.39,2021
26,25,"BACON, DWAYNEBACON, D.",ASMAS MonacoAS Monaco,29,29,1.00,1.58,2021
27,25,"WALDEN, COREYWALDEN, C.",BAYFC Bayern MunichFC Bayern Munich,25,25,1.00,1.79,2021
28,25,"JEKIRI, TONYEJEKIRI, T.",UNKUNICS KazanUNICS Kazan,24,24,1.00,1.63,2021
29,25,"HOWARD, WILLIAMHOWARD, W.",ASVLDLC ASVEL VilleurbanneLDLC ASVEL Villeurbanne,21,21,1.00,1.77,2021

In [9]:
engine = create_engine('sqlite:///blocks_leaders.db')
Session = sessionmaker(bind=engine)
session = Session()

In [10]:
blocks_data.to_sql(
    name = "blocks_leaders",
    con = engine,
    index = True,
    if_exists = "replace"
)

1050

In [11]:
blocks_data_select = session.execute('select * from "blocks_leaders"')
blocks_data_select.all()

[(0, 1, 'DUNSTON, BRYANTDUNSTON, B.', 'EFSAnadolu Efes IstanbulAnadolu Efes Istanbul', 30, 52, 1.73, 2.46, 2001),
 (1, 2, 'TAVARES, WALTERTAVARES, W.', 'RMBReal MadridReal Madrid', 29, 43, 1.48, 3.4, 2001),
 (2, 3, 'PLEISS, TIBORPLEISS, T.', 'VBCValencia BasketValencia Basket', 29, 32, 1.1, 2.29, 2001),
 (3, 4, 'PARAKHOUSKI, ARTSIOMPARAKHOUSKI, A.', 'MTAMaccabi FOX Tel AvivMaccabi FOX Tel Aviv', 30, 31, 1.03, 2.55, 2001),
 (4, 4, 'GUDAITIS, ARTURASGUDAITIS, A.', 'AXMAX Armani Exchange Olimpia MilanAX Armani Exchange Olimpia Milan', 29, 31, 1.07, 2.07, 2001),
 (5, 6, 'TYUS, ALEXTYUS, A.', 'MTAMaccabi FOX Tel AvivMaccabi FOX Tel Aviv', 30, 30, 1.0, 2.0, 2001),
 (6, 7, 'POIRIER, VINCENTPOIRIER, V.', 'BKNKIROLBET Baskonia Vitoria GasteizKIROLBET Baskonia Vitoria Gasteiz', 34, 29, 0.85, 1.91, 2001),
 (7, 8, 'BOLDEN, JONAHBOLDEN, J.', 'MTAMaccabi FOX Tel AvivMaccabi FOX Tel Aviv', 29, 27, 0.93, 1.76, 2001),
 (8, 9, 'SINGLETON, CHRISSINGLETON, C.', 'PAOPanathinaikos Superfoods AthensPanathinaikos Superfoods Athens', 34, 25, 0.74, 0.97, 2001),
 (9, 10, 'VESELY, JANVESELY, J.', 'FBDFenerbahce Dogus IstanbulFenerbahce Dogus Istanbul', 34, 24, 0.71, 1.06, 2001),
 (10, 10, 'HINES, KYLEHINES, K.', 'CSKCSKA MoscowCSKA Moscow', 31, 24, 0.77, 1.42, 2001),
 (11, 12, 'THOMPSON, JASONTHOMPSON, J.', 'FBDFenerbahce Dogus IstanbulFenerbahce Dogus Istanbul', 36, 23, 0.64, 1.59, 2001),
 (12, 12, 'TARCZEWSKI, KALEBTARCZEWSKI, K.', 'AXMAX Armani Exchange Olimpia MilanAX Armani Exchange Olimpia Milan', 30, 23, 0.77, 1.56, 2001),
 (13, 14, 'LESSORT, MATHIASLESSORT, M.', 'CZVCrvena Zvezda mts BelgradeCrvena Zvezda mts Belgrade', 30, 22, 0.73, 1.39, 2001),
 (14, 15, 'DATOME, LUIGIDATOME, L.', 'FBDFenerbahce Dogus IstanbulFenerbahce Dogus Istanbul', 35, 20, 0.57, 0.96, 2001),
 (15, 16, 'GILL, ANTHONYGILL, A.', 'KHIKhimki Moscow RegionKhimki Moscow Region', 32, 19, 0.59, 0.92, 2001),
 (16, 17, 'SHENGELIA, TORNIKESHENGELIA, T.', 'BKNKIROLBET Baskonia Vitoria GasteizKIROLBET Baskonia Vitoria Gasteiz', 33, 18, 0.55, 0.86, 2001),
 (17, 17, 'MILUTINOV, NIKOLAMILUTINOV, N.', 'OLYOlympiacos PiraeusOlympiacos Piraeus', 29, 18, 0.62, 1.14, 2001),
 (18, 19, 'HANGA, ADAMHANGA, A.', 'FCBFC Barcelona LassaFC Barcelona Lassa', 26, 17, 0.65, 1.06, 2001),
 (19, 20, 'ANTONOV, SEMENANTONOV, S.', 'CSKCSKA MoscowCSKA Moscow', 34, 16, 0.47, 1.37, 2001),
 (20, 20, 'VORONTSEVICH, ANDREYVORONTSEVICH, A.', 'CSKCSKA MoscowCSKA Moscow', 30, 16, 0.53, 1.42, 2001),
 (21, 22, 'AUGUSTINE, JAMESAUGUSTINE, J.', 'UNIUnicaja MalagaUnicaja Malaga', 29, 15, 0.52, 0.89, 2001),
 (22, 22, 'ULANOVAS, EDGARASULANOVAS, E.', 'ZALZalgiris KaunasZalgiris Kaunas', 35, 15, 0.43, 0.63, 2001),
 (23, 22, 'GIST, JAMESGIST, J.', 'PAOPanathinaikos Superfoods AthensPanathinaikos Superfoods Athens', 34, 15, 0.44, 0.7, 2001),
 (24, 25, 'SERAPHIN, KEVINSERAPHIN, K.', 'FCBFC Barcelona LassaFC Barcelona Lassa', 15, 14, 0.93, 1.84, 2001),
 (25, 25, 'AYON, GUSTAVOAYON, G.', 'RMBReal MadridReal Madrid', 18, 14, 0.78, 1.35, 2001),
 (26, 25, 'MONIA, SERGEYMONIA, S.', 'KHIKhimki Moscow RegionKhimki Moscow Region', 32, 14, 0.44, 1.41, 2001),
 (27, 28, 'THOMAS, MALCOLMTHOMAS, M.', 'KHIKhimki Moscow RegionKhimki Moscow Region', 34, 13, 0.38, 0.72, 2001),
 (28, 28, 'WHITE, AARONWHITE, A.', 'ZALZalgiris KaunasZalgiris Kaunas', 36, 13, 0.36, 0.64, 2001),
 (29, 28, 'BEAUBOIS, RODRIGUEBEAUBOIS, R.', 'BKNKIROLBET Baskonia Vitoria GasteizKIROLBET Baskonia Vitoria Gasteiz', 33, 13, 0.39, 0.74, 2001),
 (30, 28, 'DAVIES, BRANDONDAVIES, B.', 'ZALZalgiris KaunasZalgiris Kaunas', 36, 13, 0.36, 0.83, 2001),
 (31, 28, 'KURBANOV, NIKITAKURBANOV, N.', 'CSKCSKA MoscowCSKA Moscow', 36, 13, 0.36, 0.77, 2001),
 (32, 33, 'SHERMADINI, GIORGISHERMADINI, G.', 'UNIUnicaja MalagaUnicaja Malaga', 23, 12, 0.52, 1.45, 2001),
 (33, 33, 'MELLI, NICOLOMELLI, N.', 'FBDFenerbahce Dogus IstanbulFenerbahce Dogus Istanbul', 36, 12, 0.33, 0.5, 2001),
 (34, 33, 'MCCOLLUM, ERRICKMCCOLLUM, E.', 'EFSAnadolu Efes IstanbulAnadolu Efes Istanbul', 29, 12, 0.41, 0.63, 2001),
 (35, 33, 'HONEYCUTT, TYLERHONEYCUTT, T.', 'KHIKhimki Moscow RegionKhimki Moscow Region', 17, 12, 0.71, 1.33, 2001),
 (36, 33, 'JANKOVIC, STEFANJANKOVIC, S.', 'CZVCrvena Zvezda mts BelgradeCrvena Zvezda mts Belgrade', 28, 12, 0.43, 1.45, 2001),
 (37, 33, 'WRIGHT, DORELLWRIGHT, D.', 'BROBrose BambergBrose Bamberg', 27, 12, 0.44, 0.69, 2001),
 (38, 39, 'GABRIEL, KENNYGABRIEL, K.', 'PAOPanathinaikos Superfoods AthensPanathinaikos Superfoods Athens', 33, 11, 0.33, 1.18, 2001),
 (39, 39, 'DONCIC, LUKADONCIC, L.', 'RMBReal MadridReal Madrid', 33, 11, 0.33, 0.51, 2001),
 (40, 39, 'ROBINSON, THOMASROBINSON, T.', 'KHIKhimki Moscow RegionKhimki Moscow Region', 20, 11, 0.55, 1.41, 2001),
 (41, 39, 'RADOSEVIC, LEONRADOSEVIC, L.', 'BROBrose BambergBrose Bamberg', 28, 11, 0.39, 0.76, 2001),
 (42, 43, 'PAPANIKOLAOU, KOSTASPAPANIKOLAOU, K.', 'OLYOlympiacos PiraeusOlympiacos Piraeus', 28, 10, 0.36, 0.59, 2001),
 (43, 43, 'TODOROVIC, MARKOTODOROVIC, M.', 'KHIKhimki Moscow RegionKhimki Moscow Region', 27, 10, 0.37, 1.42, 2001),
 (44, 43, 'DIOP, ILIMANEDIOP, I.', 'BKNKIROLBET Baskonia Vitoria GasteizKIROLBET Baskonia Vitoria Gasteiz', 25, 10, 0.4, 1.68, 2001),
 (45, 43, 'BROOKS, JEFFBROOKS, J.', 'UNIUnicaja MalagaUnicaja Malaga', 26, 10, 0.38, 0.67, 2001),
 (46, 43, 'HUNTER, OTHELLOHUNTER, O.', 'CSKCSKA MoscowCSKA Moscow', 30, 10, 0.33, 0.69, 2001),
 (47, 43, 'KANE, DEANDREKANE, D.', 'MTAMaccabi FOX Tel AvivMaccabi FOX Tel Aviv', 30, 10, 0.33, 0.57, 2001),
 (48, 43, 'ANTETOKOUNMPO, THANASISANTETOKOUNMPO, T.', 'PAOPanathinaikos Superfoods AthensPanathinaikos Superfoods Athens', 33, 10, 0.3, 1.07, 2001),
 (49, 43, 'JANKUNAS, PAULIUSJANKUNAS, P.', 'ZALZalgiris KaunasZalgiris Kaunas', 35, 10, 0.29, 0.52, 2001),
 (0, 1, 'DUNSTON, BRYANTDUNSTON, B.', 'EFSAnadolu Efes IstanbulAnadolu Efes Istanbul', 30, 52, 1.73, 2.46, 2002),
 (1, 2, 'TAVARES, WALTERTAVARES, W.', 'RMBReal MadridReal Madrid', 29, 43, 1.48, 3.4, 2002),
 (2, 3, 'PLEISS, TIBORPLEISS, T.', 'VBCValencia BasketValencia Basket', 29, 32, 1.1, 2.29, 2002),
 (3, 4, 'PARAKHOUSKI, ARTSIOMPARAKHOUSKI, A.', 'MTAMaccabi FOX Tel AvivMaccabi FOX Tel Aviv', 30, 31, 1.03, 2.55, 2002),
 (4, 4, 'GUDAITIS, ARTURASGUDAITIS, A.', 'AXMAX Armani Exchange Olimpia MilanAX Armani Exchange Olimpia Milan', 29, 31, 1.07, 2.07, 2002),
 (5, 6, 'TYUS, ALEXTYUS, A.', 'MTAMaccabi FOX Tel AvivMaccabi FOX Tel Aviv', 30, 30, 1.0, 2.0, 2002),
 (6, 7, 'POIRIER, VINCENTPOIRIER, V.', 'BKNKIROLBET Baskonia Vitoria GasteizKIROLBET Baskonia Vitoria Gasteiz', 34, 29, 0.85, 1.91, 2002),
 (7, 8, 'BOLDEN, JONAHBOLDEN, J.', 'MTAMaccabi FOX Tel AvivMaccabi FOX Tel Aviv', 29, 27, 0.93, 1.76, 2002),
 (8, 9, 'SINGLETON, CHRISSINGLETON, C.', 'PAOPanathinaikos Superfoods AthensPanathinaikos Superfoods Athens', 34, 25, 0.74, 0.97, 2002),
 (9, 10, 'VESELY, JANVESELY, J.', 'FBDFenerbahce Dogus IstanbulFenerbahce Dogus Istanbul', 34, 24, 0.71, 1.06, 2002),
 (10, 10, 'HINES, KYLEHINES, K.', 'CSKCSKA MoscowCSKA Moscow', 31, 24, 0.77, 1.42, 2002),
 (11, 12, 'THOMPSON, JASONTHOMPSON, J.', 'FBDFenerbahce Dogus IstanbulFenerbahce Dogus Istanbul', 36, 23, 0.64, 1.59, 2002),
 (12, 12, 'TARCZEWSKI, KALEBTARCZEWSKI, K.', 'AXMAX Armani Exchange Olimpia MilanAX Armani Exchange Olimpia Milan', 30, 23, 0.77, 1.56, 2002),
 (13, 14, 'LESSORT, MATHIASLESSORT, M.', 'CZVCrvena Zvezda mts BelgradeCrvena Zvezda mts Belgrade', 30, 22, 0.73, 1.39, 2002),
 (14, 15, 'DATOME, LUIGIDATOME, L.', 'FBDFenerbahce Dogus IstanbulFenerbahce Dogus Istanbul', 35, 20, 0.57, 0.96, 2002),
 (15, 16, 'GILL, ANTHONYGILL, A.', 'KHIKhimki Moscow RegionKhimki Moscow Region', 32, 19, 0.59, 0.92, 2002),
 (16, 17, 'SHENGELIA, TORNIKESHENGELIA, T.', 'BKNKIROLBET Baskonia Vitoria GasteizKIROLBET Baskonia Vitoria Gasteiz', 33, 18, 0.55, 0.86, 2002),
 (17, 17, 'MILUTINOV, NIKOLAMILUTINOV, N.', 'OLYOlympiacos PiraeusOlympiacos Piraeus', 29, 18, 0.62, 1.14, 2002),
 (18, 19, 'HANGA, ADAMHANGA, A.', 'FCBFC Barcelona LassaFC Barcelona Lassa', 26, 17, 0.65, 1.06, 2002),
 (19, 20, 'ANTONOV, SEMENANTONOV, S.', 'CSKCSKA MoscowCSKA Moscow', 34, 16, 0.47, 1.37, 2002),
 (20, 20, 'VORONTSEVICH, ANDREYVORONTSEVICH, A.', 'CSKCSKA MoscowCSKA Moscow', 30, 16, 0.53, 1.42, 2002),
 (21, 22, 'AUGUSTINE, JAMESAUGUSTINE, J.', 'UNIUnicaja MalagaUnicaja Malaga', 29, 15, 0.52, 0.89, 2002),
 (22, 22, 'ULANOVAS, EDGARASULANOVAS, E.', 'ZALZalgiris KaunasZalgiris Kaunas', 35, 15, 0.43, 0.63, 2002),
 (23, 22, 'GIST, JAMESGIST, J.', 'PAOPanathinaikos Superfoods AthensPanathinaikos Superfoods Athens', 34, 15, 0.44, 0.7, 2002),
 (24, 25, 'SERAPHIN, KEVINSERAPHIN, K.', 'FCBFC Barcelona LassaFC Barcelona Lassa', 15, 14, 0.93, 1.84, 2002),
 (25, 25, 'AYON, GUSTAVOAYON, G.', 'RMBReal MadridReal Madrid', 18, 14, 0.78, 1.35, 2002),
 (26, 25, 'MONIA, SERGEYMONIA, S.', 'KHIKhimki Moscow RegionKhimki Moscow Region', 32, 14, 0.44, 1.41, 2002),
 (27, 28, 'THOMAS, MALCOLMTHOMAS, M.', 'KHIKhimki Moscow RegionKhimki Moscow Region', 34, 13, 0.38, 0.72, 2002),
 (28, 28, 'WHITE, AARONWHITE, A.', 'ZALZalgiris KaunasZalgiris Kaunas', 36, 13, 0.36, 0.64, 2002),
 (29, 28, 'BEAUBOIS, RODRIGUEBEAUBOIS, R.', 'BKNKIROLBET Baskonia Vitoria GasteizKIROLBET Baskonia Vitoria Gasteiz', 33, 13, 0.39, 0.74, 2002),
 (30, 28, 'DAVIES, BRANDONDAVIES, B.', 'ZALZalgiris KaunasZalgiris Kaunas', 36, 13, 0.36, 0.83, 2002),
 (31, 28, 'KURBANOV, NIKITAKURBANOV, N.', 'CSKCSKA MoscowCSKA Moscow', 36, 13, 0.36, 0.77, 2002),
 (32, 33, 'SHERMADINI, GIORGISHERMADINI, G.', 'UNIUnicaja MalagaUnicaja Malaga', 23, 12, 0.52, 1.45, 2002),
 (33, 33, 'MELLI, NICOLOMELLI, N.', 'FBDFenerbahce Dogus IstanbulFenerbahce Dogus Istanbul', 36, 12, 0.33, 0.5, 2002),
 (34, 33, 'MCCOLLUM, ERRICKMCCOLLUM, E.', 'EFSAnadolu Efes IstanbulAnadolu Efes Istanbul', 29, 12, 0.41, 0.63, 2002),
 (35, 33, 'HONEYCUTT, TYLERHONEYCUTT, T.', 'KHIKhimki Moscow RegionKhimki Moscow Region', 17, 12, 0.71, 1.33, 2002),
 (36, 33, 'JANKOVIC, STEFANJANKOVIC, S.', 'CZVCrvena Zvezda mts BelgradeCrvena Zvezda mts Belgrade', 28, 12, 0.43, 1.45, 2002),
 (37, 33, 'WRIGHT, DORELLWRIGHT, D.', 'BROBrose BambergBrose Bamberg', 27, 12, 0.44, 0.69, 2002),
 (38, 39, 'GABRIEL, KENNYGABRIEL, K.', 'PAOPanathinaikos Superfoods AthensPanathinaikos Superfoods Athens', 33, 11, 0.33, 1.18, 2002),
 (39, 39, 'DONCIC, LUKADONCIC, L.', 'RMBReal MadridReal Madrid', 33, 11, 0.33, 0.51, 2002),
 (40, 39, 'ROBINSON, THOMASROBINSON, T.', 'KHIKhimki Moscow RegionKhimki Moscow Region', 20, 11, 0.55, 1.41, 2002),
 (41, 39, 'RADOSEVIC, LEONRADOSEVIC, L.', 'BROBrose BambergBrose Bamberg', 28, 11, 0.39, 0.76, 2002),
 (42, 43, 'PAPANIKOLAOU, KOSTASPAPANIKOLAOU, K.', 'OLYOlympiacos PiraeusOlympiacos Piraeus', 28, 10, 0.36, 0.59, 2002),
 (43, 43, 'TODOROVIC, MARKOTODOROVIC, M.', 'KHIKhimki Moscow RegionKhimki Moscow Region', 27, 10, 0.37, 1.42, 2002),
 (44, 43, 'DIOP, ILIMANEDIOP, I.', 'BKNKIROLBET Baskonia Vitoria GasteizKIROLBET Baskonia Vitoria Gasteiz', 25, 10, 0.4, 1.68, 2002),
 (45, 43, 'BROOKS, JEFFBROOKS, J.', 'UNIUnicaja MalagaUnicaja Malaga', 26, 10, 0.38, 0.67, 2002),
 (46, 43, 'HUNTER, OTHELLOHUNTER, O.', 'CSKCSKA MoscowCSKA Moscow', 30, 10, 0.33, 0.69, 2002),
 (47, 43, 'KANE, DEANDREKANE, D.', 'MTAMaccabi FOX Tel AvivMaccabi FOX Tel Aviv', 30, 10, 0.33, 0.57, 2002),
 (48, 43, 'ANTETOKOUNMPO, THANASISANTETOKOUNMPO, T.', 'PAOPanathinaikos Superfoods AthensPanathinaikos Superfoods Athens', 33, 10, 0.3, 1.07, 2002),
 (49, 43, 'JANKUNAS, PAULIUSJANKUNAS, P.', 'ZALZalgiris KaunasZalgiris Kaunas', 35, 10, 0.29, 0.52, 2002),
 (0, 1, 'DUNSTON, BRYANTDUNSTON, B.', 'EFSAnadolu Efes IstanbulAnadolu Efes Istanbul', 30, 52, 1.73, 2.46, 2003),
 (1, 2, 'TAVARES, WALTERTAVARES, W.', 'RMBReal MadridReal Madrid', 29, 43, 1.48, 3.4, 2003),
 (2, 3, 'PLEISS, TIBORPLEISS, T.', 'VBCValencia BasketValencia Basket', 29, 32, 1.1, 2.29, 2003),
 (3, 4, 'PARAKHOUSKI, ARTSIOMPARAKHOUSKI, A.', 'MTAMaccabi FOX Tel AvivMaccabi FOX Tel Aviv', 30, 31, 1.03, 2.55, 2003),
 (4, 4, 'GUDAITIS, ARTURASGUDAITIS, A.', 'AXMAX Armani Exchange Olimpia MilanAX Armani Exchange Olimpia Milan', 29, 31, 1.07, 2.07, 2003),
 (5, 6, 'TYUS, ALEXTYUS, A.', 'MTAMaccabi FOX Tel AvivMaccabi FOX Tel Aviv', 30, 30, 1.0, 2.0, 2003),
 (6, 7, 'POIRIER, VINCENTPOIRIER, V.', 'BKNKIROLBET Baskonia Vitoria GasteizKIROLBET Baskonia Vitoria Gasteiz', 34, 29, 0.85, 1.91, 2003),
 (7, 8, 'BOLDEN, JONAHBOLDEN, J.', 'MTAMaccabi FOX Tel AvivMaccabi FOX Tel Aviv', 29, 27, 0.93, 1.76, 2003),
 (8, 9, 'SINGLETON, CHRISSINGLETON, C.', 'PAOPanathinaikos Superfoods AthensPanathinaikos Superfoods Athens', 34, 25, 0.74, 0.97, 2003),
 (9, 10, 'VESELY, JANVESELY, J.', 'FBDFenerbahce Dogus IstanbulFenerbahce Dogus Istanbul', 34, 24, 0.71, 1.06, 2003),
 (10, 10, 'HINES, KYLEHINES, K.', 'CSKCSKA MoscowCSKA Moscow', 31, 24, 0.77, 1.42, 2003),
 (11, 12, 'THOMPSON, JASONTHOMPSON, J.', 'FBDFenerbahce Dogus IstanbulFenerbahce Dogus Istanbul', 36, 23, 0.64, 1.59, 2003),
 (12, 12, 'TARCZEWSKI, KALEBTARCZEWSKI, K.', 'AXMAX Armani Exchange Olimpia MilanAX Armani Exchange Olimpia Milan', 30, 23, 0.77, 1.56, 2003),
 (13, 14, 'LESSORT, MATHIASLESSORT, M.', 'CZVCrvena Zvezda mts BelgradeCrvena Zvezda mts Belgrade', 30, 22, 0.73, 1.39, 2003),
 (14, 15, 'DATOME, LUIGIDATOME, L.', 'FBDFenerbahce Dogus IstanbulFenerbahce Dogus Istanbul', 35, 20, 0.57, 0.96, 2003),
 (15, 16, 'GILL, ANTHONYGILL, A.', 'KHIKhimki Moscow RegionKhimki Moscow Region', 32, 19, 0.59, 0.92, 2003),
 (16, 17, 'SHENGELIA, TORNIKESHENGELIA, T.', 'BKNKIROLBET Baskonia Vitoria GasteizKIROLBET Baskonia Vitoria Gasteiz', 33, 18, 0.55, 0.86, 2003),
 (17, 17, 'MILUTINOV, NIKOLAMILUTINOV, N.', 'OLYOlympiacos PiraeusOlympiacos Piraeus', 29, 18, 0.62, 1.14, 2003),
 (18, 19, 'HANGA, ADAMHANGA, A.', 'FCBFC Barcelona LassaFC Barcelona Lassa', 26, 17, 0.65, 1.06, 2003),
 (19, 20, 'ANTONOV, SEMENANTONOV, S.', 'CSKCSKA MoscowCSKA Moscow', 34, 16, 0.47, 1.37, 2003),
 (20, 20, 'VORONTSEVICH, ANDREYVORONTSEVICH, A.', 'CSKCSKA MoscowCSKA Moscow', 30, 16, 0.53, 1.42, 2003),
 (21, 22, 'AUGUSTINE, JAMESAUGUSTINE, J.', 'UNIUnicaja MalagaUnicaja Malaga', 29, 15, 0.52, 0.89, 2003),
 (22, 22, 'ULANOVAS, EDGARASULANOVAS, E.', 'ZALZalgiris KaunasZalgiris Kaunas', 35, 15, 0.43, 0.63, 2003),
 (23, 22, 'GIST, JAMESGIST, J.', 'PAOPanathinaikos Superfoods AthensPanathinaikos Superfoods Athens', 34, 15, 0.44, 0.7, 2003),
 (24, 25, 'SERAPHIN, KEVINSERAPHIN, K.', 'FCBFC Barcelona LassaFC Barcelona Lassa', 15, 14, 0.93, 1.84, 2003),
 (25, 25, 'AYON, GUSTAVOAYON, G.', 'RMBReal MadridReal Madrid', 18, 14, 0.78, 1.35, 2003),
 (26, 25, 'MONIA, SERGEYMONIA, S.', 'KHIKhimki Moscow RegionKhimki Moscow Region', 32, 14, 0.44, 1.41, 2003),
 (27, 28, 'THOMAS, MALCOLMTHOMAS, M.', 'KHIKhimki Moscow RegionKhimki Moscow Region', 34, 13, 0.38, 0.72, 2003),
 (28, 28, 'WHITE, AARONWHITE, A.', 'ZALZalgiris KaunasZalgiris Kaunas', 36, 13, 0.36, 0.64, 2003),
 (29, 28, 'BEAUBOIS, RODRIGUEBEAUBOIS, R.', 'BKNKIROLBET Baskonia Vitoria GasteizKIROLBET Baskonia Vitoria Gasteiz', 33, 13, 0.39, 0.74, 2003),
 (30, 28, 'DAVIES, BRANDONDAVIES, B.', 'ZALZalgiris KaunasZalgiris Kaunas', 36, 13, 0.36, 0.83, 2003),
 (31, 28, 'KURBANOV, NIKITAKURBANOV, N.', 'CSKCSKA MoscowCSKA Moscow', 36, 13, 0.36, 0.77, 2003),
 (32, 33, 'SHERMADINI, GIORGISHERMADINI, G.', 'UNIUnicaja MalagaUnicaja Malaga', 23, 12, 0.52, 1.45, 2003),
 (33, 33, 'MELLI, NICOLOMELLI, N.', 'FBDFenerbahce Dogus IstanbulFenerbahce Dogus Istanbul', 36, 12, 0.33, 0.5, 2003),
 (34, 33, 'MCCOLLUM, ERRICKMCCOLLUM, E.', 'EFSAnadolu Efes IstanbulAnadolu Efes Istanbul', 29, 12, 0.41, 0.63, 2003),
 (35, 33, 'HONEYCUTT, TYLERHONEYCUTT, T.', 'KHIKhimki Moscow RegionKhimki Moscow Region', 17, 12, 0.71, 1.33, 2003),
 (36, 33, 'JANKOVIC, STEFANJANKOVIC, S.', 'CZVCrvena Zvezda mts BelgradeCrvena Zvezda mts Belgrade', 28, 12, 0.43, 1.45, 2003),
 (37, 33, 'WRIGHT, DORELLWRIGHT, D.', 'BROBrose BambergBrose Bamberg', 27, 12, 0.44, 0.69, 2003),
 (38, 39, 'GABRIEL, KENNYGABRIEL, K.', 'PAOPanathinaikos Superfoods AthensPanathinaikos Superfoods Athens', 33, 11, 0.33, 1.18, 2003),
 (39, 39, 'DONCIC, LUKADONCIC, L.', 'RMBReal MadridReal Madrid', 33, 11, 0.33, 0.51, 2003),
 (40, 39, 'ROBINSON, THOMASROBINSON, T.', 'KHIKhimki Moscow RegionKhimki Moscow Region', 20, 11, 0.55, 1.41, 2003),
 (41, 39, 'RADOSEVIC, LEONRADOSEVIC, L.', 'BROBrose BambergBrose Bamberg', 28, 11, 0.39, 0.76, 2003),
 (42, 43, 'PAPANIKOLAOU, KOSTASPAPANIKOLAOU, K.', 'OLYOlympiacos PiraeusOlympiacos Piraeus', 28, 10, 0.36, 0.59, 2003),
 (43, 43, 'TODOROVIC, MARKOTODOROVIC, M.', 'KHIKhimki Moscow RegionKhimki Moscow Region', 27, 10, 0.37, 1.42, 2003),
 (44, 43, 'DIOP, ILIMANEDIOP, I.', 'BKNKIROLBET Baskonia Vitoria GasteizKIROLBET Baskonia Vitoria Gasteiz', 25, 10, 0.4, 1.68, 2003),
 (45, 43, 'BROOKS, JEFFBROOKS, J.', 'UNIUnicaja MalagaUnicaja Malaga', 26, 10, 0.38, 0.67, 2003),
 (46, 43, 'HUNTER, OTHELLOHUNTER, O.', 'CSKCSKA MoscowCSKA Moscow', 30, 10, 0.33, 0.69, 2003),
 (47, 43, 'KANE, DEANDREKANE, D.', 'MTAMaccabi FOX Tel AvivMaccabi FOX Tel Aviv', 30, 10, 0.33, 0.57, 2003),
 (48, 43, 'ANTETOKOUNMPO, THANASISANTETOKOUNMPO, T.', 'PAOPanathinaikos Superfoods AthensPanathinaikos Superfoods Athens', 33, 10, 0.3, 1.07, 2003),
 (49, 43, 'JANKUNAS, PAULIUSJANKUNAS, P.', 'ZALZalgiris KaunasZalgiris Kaunas', 35, 10, 0.29, 0.52, 2003),
 (0, 1, 'DUNSTON, BRYANTDUNSTON, B.', 'EFSAnadolu Efes IstanbulAnadolu Efes Istanbul', 30, 52, 1.73, 2.46, 2004),
 (1, 2, 'TAVARES, WALTERTAVARES, W.', 'RMBReal MadridReal Madrid', 29, 43, 1.48, 3.4, 2004),
 (2, 3, 'PLEISS, TIBORPLEISS, T.', 'VBCValencia BasketValencia Basket', 29, 32, 1.1, 2.29, 2004),
 (3, 4, 'PARAKHOUSKI, ARTSIOMPARAKHOUSKI, A.', 'MTAMaccabi FOX Tel AvivMaccabi FOX Tel Aviv', 30, 31, 1.03, 2.55, 2004),
 (4, 4, 'GUDAITIS, ARTURASGUDAITIS, A.', 'AXMAX Armani Exchange Olimpia MilanAX Armani Exchange Olimpia Milan', 29, 31, 1.07, 2.07, 2004),
 (5, 6, 'TYUS, ALEXTYUS, A.', 'MTAMaccabi FOX Tel AvivMaccabi FOX Tel Aviv', 30, 30, 1.0, 2.0, 2004),
 (6, 7, 'POIRIER, VINCENTPOIRIER, V.', 'BKNKIROLBET Baskonia Vitoria GasteizKIROLBET Baskonia Vitoria Gasteiz', 34, 29, 0.85, 1.91, 2004),
 (7, 8, 'BOLDEN, JONAHBOLDEN, J.', 'MTAMaccabi FOX Tel AvivMaccabi FOX Tel Aviv', 29, 27, 0.93, 1.76, 2004),
 (8, 9, 'SINGLETON, CHRISSINGLETON, C.', 'PAOPanathinaikos Superfoods AthensPanathinaikos Superfoods Athens', 34, 25, 0.74, 0.97, 2004),
 (9, 10, 'VESELY, JANVESELY, J.', 'FBDFenerbahce Dogus IstanbulFenerbahce Dogus Istanbul', 34, 24, 0.71, 1.06, 2004),
 (10, 10, 'HINES, KYLEHINES, K.', 'CSKCSKA MoscowCSKA Moscow', 31, 24, 0.77, 1.42, 2004),
 (11, 12, 'THOMPSON, JASONTHOMPSON, J.', 'FBDFenerbahce Dogus IstanbulFenerbahce Dogus Istanbul', 36, 23, 0.64, 1.59, 2004),
 (12, 12, 'TARCZEWSKI, KALEBTARCZEWSKI, K.', 'AXMAX Armani Exchange Olimpia MilanAX Armani Exchange Olimpia Milan', 30, 23, 0.77, 1.56, 2004),
 (13, 14, 'LESSORT, MATHIASLESSORT, M.', 'CZVCrvena Zvezda mts BelgradeCrvena Zvezda mts Belgrade', 30, 22, 0.73, 1.39, 2004),
 (14, 15, 'DATOME, LUIGIDATOME, L.', 'FBDFenerbahce Dogus IstanbulFenerbahce Dogus Istanbul', 35, 20, 0.57, 0.96, 2004),
 (15, 16, 'GILL, ANTHONYGILL, A.', 'KHIKhimki Moscow RegionKhimki Moscow Region', 32, 19, 0.59, 0.92, 2004),
 (16, 17, 'SHENGELIA, TORNIKESHENGELIA, T.', 'BKNKIROLBET Baskonia Vitoria GasteizKIROLBET Baskonia Vitoria Gasteiz', 33, 18, 0.55, 0.86, 2004),
 (17, 17, 'MILUTINOV, NIKOLAMILUTINOV, N.', 'OLYOlympiacos PiraeusOlympiacos Piraeus', 29, 18, 0.62, 1.14, 2004),
 (18, 19, 'HANGA, ADAMHANGA, A.', 'FCBFC Barcelona LassaFC Barcelona Lassa', 26, 17, 0.65, 1.06, 2004),
 (19, 20, 'ANTONOV, SEMENANTONOV, S.', 'CSKCSKA MoscowCSKA Moscow', 34, 16, 0.47, 1.37, 2004),
 (20, 20, 'VORONTSEVICH, ANDREYVORONTSEVICH, A.', 'CSKCSKA MoscowCSKA Moscow', 30, 16, 0.53, 1.42, 2004),
 (21, 22, 'AUGUSTINE, JAMESAUGUSTINE, J.', 'UNIUnicaja MalagaUnicaja Malaga', 29, 15, 0.52, 0.89, 2004),
 (22, 22, 'ULANOVAS, EDGARASULANOVAS, E.', 'ZALZalgiris KaunasZalgiris Kaunas', 35, 15, 0.43, 0.63, 2004),
 (23, 22, 'GIST, JAMESGIST, J.', 'PAOPanathinaikos Superfoods AthensPanathinaikos Superfoods Athens', 34, 15, 0.44, 0.7, 2004),